.users-container {
    background: #24262b !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 15px !important;
    min-height: 450px !important;
    width: 770px;
}

.add-user {
    background: #3c3f46 !important;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75) !important;
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 15px;
}

.raised-button {
    margin: 10px !important; 
}

.users-filter {
    margin-right: 10px !important; 
}

.users-table-container {
    background: #3c3f46 !important;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75) !important;
    width: 100% !important;
    padding-top: 10px;
}

.table-item { 
    color: #58d4c2;
}

.table-subitem { 
    color: #fff;
}

.users-container h4 {
    display: block;
    margin: 15px auto 0 auto;
    font: 14px 'Roboto', sans-serif;
    color: #fff;
}

.mode-edit {
    color: #fff;
}