/* panel */

body {
    background: #202020 fixed !important;
}

.panel-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.panel-subcontainer {
    display: flex !important;
    margin: 50px auto;
}

/* side bar*/

.sidebar-container {
    background: #313339 !important;
    display: flex !important;
    flex-direction: column !important;
    width: 250px !important;
} 

.title-container {
    background: #3c3f46 !important; 
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.title-container h2 {
    font: 25px Roboto, sans-serif !important;
    color: #fff !important;
    text-shadow: 1px 1px #28292e !important;
}

.title-container h2 sup {
    font-size: 11px !important;
    color: #58d4c2 !important;
}

.sidebar-container ul {
    list-style: none !important;
    margin: 15px 0 !important;
    padding: 0 !important;
}

.nav-item li {
    margin-right: 0 !important;
    padding: 10px !important;
    text-shadow: 1px 1px #28292e !important;
    border-left: 3px solid #313339 !important;
    display: flex !important;
    align-items: center !important;
}

.nav-item li a {
    text-decoration: none !important;
    color: #98999C !important;
}

.nav-item li:hover a {
    color: #58d4c2 !important;
}

.nav-item li a.active {
    color: #58d4c2 !important;
    border-left: 3px solid #58d4c2 !important;
}

.nav-item li:hover {
    border-left: 3px solid #58d4c2 !important;
    color: #58d4c2 !important;
}

.nav-item li a .material-icons {
    margin-right: 10px !important;
    top: 5px !important;
}

.nav-link {
    color: #98999C !important;
    text-decoration: none !important;
}

.nav-link:hover {
    color: #58d4c2 !important;
}

/* header */

.header-container {
    background: #313339 !important;
    height: 50px !important;
    width: 800px !important;
}

.dialog {
    width: 400px !important;
}

.header-bar {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    list-style: none !important;
    margin: 0 !important;
}

.header-bar li {
    display: block !important;
    align-items: center !important;
}

.header-bar li div:hover {
    background: #3c3f46 !important;
    color: #58d4c2 !important;
    cursor: pointer !important;
}

.header-bar li div {
    display: flex !important;
    align-items: center !important;
    height: 20px !important;
    padding: 15px !important;
    color: #98999C !important;
    text-decoration: none !important;
}

.header-bar li div span {
    margin-right: 5px !important;
}

.dialog {
    background: #27292e !important;
    display: flex !important;
    align-items: center !important; 
    justify-content: space-around;
    width: 400px !important;
    padding: 10px !important;
    flex-direction: column !important;
    color: #fff !important;
    box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.75) !important;
    flex-basis: 360px !important;
}

.dialog-container {
    width: 400px !important;
    display: block !important;
}