.reg-main-container {
    background: #202020 !important; 
    height: 100vh !important; 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 40px 0;
  }

.registration-container {
    background: #27292e !important;
    display: flex !important;
    align-items: center !important; 
    justify-content: space-around;
    width: 400px !important;
    padding: 10px !important;
    flex-direction: column !important;
    color: #fff !important;
    box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.75) !important;
    flex-basis: 360px;
}  

.reg-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}